<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="./ysysys.css" rel="stylesheet" type="text/css">
</head>
 <style>
  .main div{
      width:50%
  }
  .main>div>img{
      width:100%;
      height:100px
  }
 </style>
<body>

<center><select>
<option>环保锦囊团</option>
<option>全球</option>
<option>港澳</option>
<option>韩国</option>
<option>日本</option>
<option>其他国家</option>
</select></center>
<img src=".//1.jpg" width="100%" height="10%">

<h1>热门优惠</h1>
<div class="main">
    <div class="left half"><img src="./03b1OOOPICa7.jpg" ><h2>新罗免税店</h2>满2000立减100元</div>
    <div class="right"><img src="./16pic_2552825_b.jpg" ><h2>松本清</h2>满2000立减100元</div>
    <div class="left"><img src="./22bOOOPICea_1024.jpg"><h2>都塔购物中心</h2>满2000立减100元</div>
    <div class="right"><img src="./24g58PICmse_1024.jpg"><h2>高岛屋</h2>满2000立减100元</div>
    <div class="foot"><img src="./75D58PICmVG_1024.jpg" ></div>
</div>

</body>
</html>
